//- /************************/
//- /*      COMP2406 A4     */
//- /*     Author: Jess     */
//- /*    S/N: 101007447 	 	*/
//- /************************/

doctype html

html
  head
    script(src="./recipePage.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    style
      include ./style.css

  body
    h1 COMP2406 Recipe Database

    form(method='POST' action='/login')
      fieldset
        legend Select a recipe!
        <p>
            label Recipe:
            select#recipeSelect(name="recipe")
              option FUCK
        </p>
        button.btn("id=recipeViewButton")="View"

    br
    form
      label Name:
      br
      input#recipeName
    
      br
      br
      
      label Duration:
      br
      input#recipeDuration
      
      br
      br
      
      label Ingredients:
      br
      input#recipeIngredients
      
      br
      br

      label Steps:
      br
      input#recipeDirections
      
      br
      br

      label Notes:
      br
      input#recipeNotes

      br
      br
      button.btn("id=recipeSubmitButton")="Submit"
